@import "./variables.scss";

.contact__me {
    margin-left: 60%;
        .contact__title {
            color: $gold;
            font-size: 40px;
            font-weight: 700;
            padding-top: 60px;
        }
        .modal-container {
            padding: 40px 20px 30px 0px;
            .request__input {
                background-color: rgba(0, 0, 0, 0.5);
                text-decoration: none;
                border: 2px solid $gold;
                color: $gold;
                font-size: 20px;
                padding: 10px 0px 10px 20px;
                margin: 0px 20px 20px 0px;
                width: 82%;
                    &::placeholder {
                        color: $gold;
                    }
            }
            .request__input__message {
                background-color: rgba(0, 0, 0, 0.5);
                text-decoration: none;
                border: 2px solid $gold;
                color: $gold;
                font-size: 20px;
                font-weight: 400;
                padding: 10px 0px 50px 20px;
                width: 82%;
                &::placeholder {
                    color: $gold;
                }
            }
            .request__btn {
                background-color: $gold;
                border: none;

                font-size: 20px;
                font-weight: 400;
                padding: 8px 40px;
                margin-top: 30px;
                margin-bottom: 220px;
                cursor: pointer;
                transition: 0.3s;
                    &:hover {
                        color: $white;
                    }
            }
        }
}

@media (max-width: 770px) {
    .contact__me {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
        .modal-container {
            width: 95%;
            text-align: center;
            .request__input {
                width: 55%;
            }
            .request__input__message {
                width: 55%;
                margin-left: -20px;
            }
        }
    }
}
@media (max-width: 480px) {
    .request__btn {
        font-size: 18px;
        padding: 8px 10px;
        margin-left: -20px;
    }
}
