@import "./variables.scss";

.hero {
    padding: 180px 0px 0px 80px;
    max-width: 40%;
    color: $white;
        &__name {
            font-size: 60px;
            font-weight: 700;
        }
        &__content {
            font-size: 20px;
            padding: 10px 0px 25px 0px;
        }
        &__btn {
            background-color: $gold;
            padding: 8px 72px 7px 73px;
            margin-bottom: 40px;
            color: #000;
            font-size: 20px;
            border: none;
            transition: 0.3s;
            cursor: pointer;
                &:hover {
                    color: $white;
                }
        }
}

@media (max-width: 860px) {
    .hero {
        padding: 80px 0px 0px 80px;
        max-width: 50%;
    }
}

@media (max-width: 770px) {
    .hero {
        padding: 100px 0px 0px 50px;
        max-width: 55%;
        &__name{
            font-size: 32px;
            font-weight: 400;
        }
    }
}

@media (max-width: 480px) {
    .hero {
        padding: 100px 0px 0px 0px;
        max-width: 80%;
        text-align: center;
        margin: auto;
    }
}